@charset "utf-8";
/* CSS Document */
.adbg{
	min-height: 250px;
}
.ad1{
	background-image: url("https://i.ibb.co/JCGfXC6/sean-o-KMn4-VEe-EPR8-unsplash.jpg");
	height: 250px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: opacity(0.75);
	color: #000000;
}
.pad1{
	font-size: 80px;
	margin-left: 50px;
}
.pad2{
	font-size: 40px;
	float: right;
	margin-right: 160px;
}